@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Sans:ital,wght@0,300;0,400;1,300&family=Inria+Serif:ital,wght@0,700;1,700&family=Inter:wght@900&family=Lobster&display=swap');

:root{
    --main-color:#FCFCFC;
    --second-color:#77D0C6;
    --third-color:#F7CC7E;

    --main-font:'Inter', sans-serif;
    --second-font:'Fira Sans', sans-serif;
    --trird-font:'Inria Serif', serif;

 }
* {
    text-decoration: none;
    margin: 0;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}
.wrapper .gambar img{
    width: 41.4rem;
    height: 27.3rem;
 }

 /*Bagian Nav*/
.logo {
    float: left;
    width: 200px;
    margin-top: 10px;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffff;
    z-index: 1;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: var(--second-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--third-color);
}

/*Bagian Home*/
.tengah{
    text-align: center;
    width: 100%;
}

.kolom{
    margin:3rem 0px 50px 0px; 
 }

section{
    margin:auto;
    display:flex;
    margin:0px 0px 50px 0px;
}

.kolom .deskripsi {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-family: var(--second-font);
    color: black;
 }
.kolom .deskripsi2 {
    margin: 40px 10px 10px 10px;
    font-size: 1.4rem;
    font-family: var(--second-font);
    color: var(--third-color); 
}
.kolom .deskripsi3 {
    margin: 40px 10px 10px 10px;
    font-size: 1.4rem;
    font-family: var(--second-font);
    color: black;
}
.kolom h1{
    font-family: var(--main-font);
    color:var(--second-color);
    font-size: 4rem;
    font-weight: 800;
    margin-bottom:0rem ;
    margin-top: 0rem;
    width: 100%;
}
.start{
    background-color: white;
    margin:45px 20px 0px 0px ;
    text-align: right;
}
.tbl-k{
    color:white;
    background:var(--third-color);
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
 }
.wrapper .gambar{
    width: 41.4rem;
    height: 27.3rem;
 }
.title{
    text-align: center;
    color:var(--second-color);
    font-size: 3.1rem;
    font-weight: bold;
}
.conteiner {
    background-color: black;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    width:26.1rem ;
    height:17rem ;
 }
/*Bagian About*/
.kolom .title{
    text-align: center;
    color:var(--second-color);
    font-size: 3.1rem;
    font-weight: bold;
}
.kolom .isi{
    font-size: 15px;
    font-weight: bold;
    color: var(--third-color);
}
 /*Bagian Anggota*/
.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.tutor {
    width: 20%;
    margin: 0 auto;
}

.tutor img {
    width: 80%;
    border-radius: 50%;
}
/*Nama Aggota*/
.tutor p{
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background: #77D0C6;
    background-size: 300px;
    margin: 10px;
    border-radius: 20px;
}
.icon {
    font-size: 24px;
    color: #77D0C6;
  }
  .fab fa-instagram icon{
    margin: auto;
  }

/*Bagian Footer*/
footer {
    background:  #FBE0B3;
    height: auto;
    width: 100%;
    font-family: "open sans";
    padding-top: 15px;
    color: #ffff;
    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    font-family: var(--trird-font);
    font-size: 15px;
}

/*Bagian Halaman Convert*/
.container {
    width: 1100px;
    height: 300px;
    margin: 30px auto 110px;
    padding: 20px 0 100px;
    background-color: #77D0C6;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px dashed #6788ad;
}

  h1 {
    margin-bottom: 20px;
    font-size: medium;
    color: #364f6b;
  }

  .file-input {
    margin-bottom: 10px;
    position: relative;
      overflow: hidden;
      display: inline-block;
      background-color: #ffffff;
      color: #352f2f;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
}
.container img {
    width: 150px;
    height: auto;
    margin-top: 75px;
}
    
  .convert-btn {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #0f0606;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .result {
    margin-top: 20px;
    font-weight: bold;}