@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Sans:ital,wght@0,300;0,400;1,300&family=Inria+Serif:ital,wght@0,700;1,700&family=Inter:wght@900&family=Lobster&display=swap');

:root{
    --main-color:#FCFCFC;
    --second-color:#77D0C6;
    --third-color:#F7CC7E;

    --main-font:'Inter', sans-serif;
    --second-font:'Fira Sans', sans-serif;
    --trird-font:'Inria Serif', serif;

 }
*{
   text-decoration: none;
   margin: 0px;
   padding:0px;
}

body{
   margin: 0px;
   padding:0px;
   font-family: var(--main-color);
}

.wrapper{
   width: 1100px;
   margin: auto;
   position: relative;
}
.logo a { 
   float: left;
}
.menu{
   float: right;
}

nav{
   width: 100%;
   margin:auto;
   top: 0;
   display: flex;
   position: sticky;
   position: -webkit-sticky;
}
.logo img{
   width: 10.2rem;
   height: 5.6re,;
}
nav ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 
}
nav ul li{
   margin-top: 10px;
   float: left;
}
nav ul li a{
   color: var(--second-color);
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   padding: 0px 16px 0px 16px;
   text-decoration: none;
}

nav ul li a:hover{
   text-decoration: underline;
   color: var(--third-color);
}

section{
   margin:auto;
   display:flex;
   margin:0px 0px 50px 0px;
}
.kolom{
   margin:3rem 0px 50px 0px;   
}

.kolom h1{
   font-family: var(--main-font);
   color:var(--second-color);
   font-size: 4rem;
   font-weight: 800;
   margin-bottom:1,2rem ;
   margin-top: 20px;
   width: 100%;
}
.wrapper .gambar{
   width: 41.4rem;
   height: 27.3rem;
}
.kolom .deskripsi {
   margin-top: 10px;
   margin-bottom: 20px;
   font-size: 1.4rem;
   font-family: var(--second-font);
   color: black;
}
.start{
   background-color: white;
   margin:45px 20px 0px 0px ;
   text-align: right;
}
.tbl-k{
   color:white;
   background:var(--third-color);
   border-radius: 15px;
   margin-top: 20px;
   padding: 10px 20px 10px 20px;
   cursor: pointer;
   font-size: 1.8rem;
   font-weight: bold;
}
.title{
   text-align: center;
   color:var(--second-color);
   font-size: 3.1rem;
   font-weight: bold;
}
.conteiner {
   background-color: black;
   border-radius: 15px;
   margin: 10px 10px 10px 10px;
   width:26.1rem ;
   height:17rem ;
}


.kolom .deskripsi2 {
   margin: 40px 10px 10px 10px;
   font-size: 1.4rem;
   font-family: var(--second-font);
   color: var(--third-color);
}

.kolom .deskripsi3 {
   margin: 40px 10px 10px 10px;
   font-size: 1.4rem;
   font-family: var(--second-font);
   color: black;
}
.gambar img{
   width: 35rem;
   height: 27.3rem;
}

.footer-content{
   padding: 10px 0px 0px 0px;
   background-color: var(--third-color);
   text-align: center;
}
.footer-content p{
   font-family: var(--trird-font);
   font-size: 10px;
}
